[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
cli = "python mlang.py"

[dev-packages]
tree-format = "*"
colored = "*"
tabulate = "*"

[packages]
ply = "*"
click = "*"
numpy = "*"

[requires]
python_version = "3.7"
