[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
scanner = python3 demo-scanner.py
parser = python3 demo-parser.py
ast = python3 demo-ast.py

[dev-packages]
tree-format = "*"
colored = "*"

[packages]
ply = "*"

[requires]
python_version = "3.6"
